<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="patidar.sagar.ideablock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- User Permissions -->
    <permission
        android:name="patidar.sagar.ideablock.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="patidar.sagar.ideablock.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="patidar.sagar.ideablock.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="patidar.sagar.ideablock.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!-- Adding Android API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBJk0SiNINYMomeS5t2g33yCT6POne2j78" />

        <!-- Google Map Library -->

        <activity
            android:name="patidar.sagar.ideablock.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.SendMoney"
            android:label="@string/title_activity_send_money"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.RequestMoney"
            android:label="@string/title_activity_request_money"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.DepositMoney"
            android:label="@string/title_activity_deposite_money"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Transactions"
            android:label="@string/title_activity_transactions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Contacts"
            android:label="@string/title_activity_contacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Notes"
            android:label="@string/title_activity_notes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Map"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.NoteDetails"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.TransactionDetails"
            android:label="@string/title_activity_transaction_details" >
        </activity>
        <activity
            android:name="patidar.sagar.ideablock.Invoice"
            android:label="@string/title_activity_invoice" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="patidar.sagar.ideablock" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>

</manifest>